/* *{
    margin:0;
    padding:0;
    color:green;
}
h1{
    color:red;
    background-color: cyan;
    padding:10px;
}
p{
    color:blue;
}

#heading2{
    color:yellow
}
#box1{
    height:125px;
    width:125px;
    background-color: cyan;
}
.box2{
    width:125px;
    height:125px;
    background-color: green;
}
.menu > li{
    color:red;
    width:200px;
}

.heading1{
    color:red;
} */

/* body{
    background-image: url("chesky.jpg");
    background-repeat: no-repeat;
    background-position: center;
} */

.content{
    width:125px;
    height:125px;
    background-color: red;
    font-size: 40px;
    font-style:italic;
    font-weight: 600;

    
}
a:link{
    color:green
}
a:hover{
    color:blue;
}
a:visited{
    color:pink;
}